* {
  font-family: 'Ubuntu', sans-serif;
}

#Brand{
  font-size: 2em;
  margin-left: 0px;
}

#pleasework{
  margin: 0px -15px 0px -15px;
  background-color: white;
  border-top: 2px solid;
}
#navlist a{
  color:black;
  font-size: 1.5em;
}

#navlist li{
  border-bottom: 2px solid;
}

.col{
  background-color: lightgray;
}

@media (max-width:576px){
  .container{
    width:80%;
  }
}

@media (min-width: 768px) {
  #pleasework{
    display: none !important;
  }
